@use '../abstracts/variables' as *;
@use '../base/icons' as *;

.auth-required-modal {
  text-align: center;
  padding: $gap;

  &__icon {
    @extend %icon-lg;
    margin-bottom: $gap;
  }

  p {
    margin: 0 0 calc($gap * 1.5) 0;
    color: $color-4;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: calc($gap / 2);
  }
}
