/**
 * Nav List - Reusable navigation list items
 */

@use 'sass:color';
@use '../abstracts/variables' as *;

.nav-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gap;
  color: var(--color-5);
  border-bottom: 1px solid var(--surface-tint);
  font-weight: 500;
  transition: $transition-colors;
  text-decoration: none;

  &:last-child {
    border-bottom: none;
  }

  &:hover, &:active, &:visited, &:focus {
    text-decoration: none;
  }

  &:visited {
    color: var(--color-5);
  }

  &:hover, &:active, &:focus {
    color: var(--color-4);

    .nav-list__chevron {
      color: var(--color-4);
    }
  }
}

.nav-list__chevron {
  @extend %chevron-right;
  color: var(--color-3);
}
