/**
 * Sections - Reusable section containers
 */

@use '../abstracts/variables' as *;

.section {
  display: flex;
  flex-direction: column;
  @extend %bg-section;
  border-radius: $radius-xl;
  padding: $gap;
  margin-bottom: $gap;

  &:last-child {
    margin-bottom: 0;
  }
}
